<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Finances.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Finances.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Finances.Properties.Settings.FinancesConnectionString"
            connectionString="Data Source=DESKTOP-4VVV0FA\DEVL;Initial Catalog=Finances;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Finances.Properties.Settings>
            <setting name="CsvPath" serializeAs="String">
                <value>C:\DEVL\Finances\Csv container</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>!!242prank1sonyou</value>
            </setting>
        </Finances.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Finances.Properties.Settings>
            <setting name="ImagesPath" serializeAs="String">
                <value>C:\DEVL\Finances\people pictures</value>
            </setting>
        </Finances.Properties.Settings>
    </applicationSettings>
</configuration>